<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 border bg-success text-light">col-1</div>
        <div class="col-md-1 border bg-success text-light">col-2</div>
        <div class="col-md-1 border bg-success text-light">col-3</div>
        <div class="col-md-1 border bg-success text-light">col-4</div>
        <div class="col-md-1 border bg-success text-light">col-5</div>
        <div class="col-md-1 border bg-success text-light">col-6</div>
        <div class="col-md-1 border bg-success text-light">col-7</div>
        <div class="col-md-1 border bg-success text-light">col-8</div>
        <div class="col-md-1 border bg-success text-light">col-9</div>
        <div class="col-md-1 border bg-success text-light">col-10</div>
        <div class="col-md-1 border bg-success text-light">col-11</div>
        <div class="col-md-1 border bg-success text-light">col-12</div>
    </div>
    <div class="row">
        <div class="col-md-6 border bg-success text-light">col-1</div>
        <div class="col-md-6 border bg-success text-light">col-2</div>
    </div>
    <div class="row">
        <div class="col-md-4 border bg-success text-light">col-1</div>
        <div class="col-md-4 border bg-success text-light">col-2</div>
        <div class="col-md-4 border bg-success text-light">col-3</div>
    </div>
    <div class="row">
        <div class="col-md-3 border bg-success text-light">col-1</div>
        <div class="col-md-3 border bg-success text-light">col-2</div>
        <div class="col-md-3 border bg-success text-light">col-3</div>
        <div class="col-md-3 border bg-success text-light">col-4</div>
    </div>
    <div class="row">
        <div class="col-md-5 border bg-success text-light">col-5</div>
        <div class="col-md-7 border bg-success text-light">col-7</div>
    </div>
    <div class="row">
        <div class="col-md-12 border bg-success text-light">col-12</div>
    </div>
</div>